@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kanit:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@mixin mobile{
    @media screen and (max-width: 480px){
        @content;
    }
}

@mixin tablet{
    @media screen and (max-width: 786px){
        @content;
    }
}

@mixin laptop{
    @media screen and (max-width: 1200px){
        @content;
    }
}

.register-container{
    background-color: blueviolet;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .register-wrapper{
        
        .register-title , .register-title2{
            color: blueviolet;
            padding: 2px;
            font-family: 'Courgette', cursive;
        }

        .register-title2{
            font-size: 25px;
        }

        .reg{
            font-family: 'Kanit', sans-serif;
            cursor: pointer;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            
            .user, .mail, .pwd{
                border: none;
                border-bottom: 2px solid blueviolet;
                height: 4vh;
                padding: 2%;
                font-size: 1rem;
                font-family: 'Josefin Sans', sans-serif;
            }

            .user:focus, .pwd:focus{
                outline: none;
            }

            .avat-div{
                display: flex;
                align-items: center;
                justify-content: start;
                cursor: pointer;
                font-family: 'Kanit', sans-serif;

                input{
                    display: none;
                }

                label,img{
                    cursor: pointer;
                }

            }
            
            .sb-btn{
                background-color: blueviolet;
                color: white;
                padding: 13px;
                margin-top: 3%;
                cursor: pointer;
                border-radius: 15px 15px 15px 15px;
                &:hover{
                    background-color: white;
                    color: blueviolet;
                }
            }
        }
        background-color: white;
        padding: 20px;
        height: 60vh;
        width: 25%;
        text-align: center;
        border-radius: 5%;
        @include laptop{
            width: 40%;
            height: 77%;
        }
    }
}

